@using AvDB_lab4.Entities.Credits.Tasks
@model AvDB_lab4.Models.TaskViewModel

@{
    ViewBag.Title = "Task Details";
}

<h2>Task Details</h2>

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-info"})
    @if (Model.Status != TaskStatus.Completed && Model.AssignedTo == null)
    {
        @Html.ActionLink("Assign To Me", "AssignToMe", new {taskId = Model.Id}, new {@class = "btn btn-primary"})
    }
    else if(Model.Status != TaskStatus.Completed)
    {
        @Html.ActionLink("Work", "Work", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }  
</p>
