@model AvDB_lab4.Models.TaskViewModel

@{
    ViewBag.Title = "Task Details";
}

<h2>Task Details</h2>

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Assign To Me", "AssignToMe", new { taskId = Model.Id })
</p>
