@model AvDB_lab4.Models.ApplicationDetailsViewModel

@{
    ViewBag.Title = "Application Details";
}

<h2>Application Details</h2>

@Html.DisplayForModel(Model)

<p>
    @Html.ActionLink("Repayment Chart", "RepaymentChart", "Application", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "List", "Application", null, new { @class = "btn btn-info" })
</p>
